{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- CONTACT
{% endblock %}

{% block body %}
	<div class="container">
		<h1>CONTACT</h1>
		<div class="alert alert-primary" role="alert">
			A simple primary alert—check it out!
		</div>
	</div>
{% endblock %}
